.headerWrapper{
    /* border: 2px solid black; */

}

    .headerWrapper h3{}
    .headerWrapper p{
        padding: .5rem;
    }

    .headerWrapper ul{        
        font-family: monospace;
        list-style-type: lower-roman;
        list-style-position: inside;
        padding: 1rem;
        text-align: left;
    }
    .headerWrapper ul li{
        padding: .5rem;
    }